.App {
  margin-top: 25px;
}

.Code textarea,
.Selector input,
.Output code {
  width: 100%;
  font-family: monospace;
  font-size: 1.1em;
}

.Output code {
  font-size: 1.2em;
}

.Output pre {
  margin-bottom: 0;
}
